[paths]
bin =
	bin/
	/tmp/*/run/bin
oio =
	oio/
	/tmp/*/run/oio
tests =
	tests/
	/tmp/*/run/tests
tools =
	tools/
	/tmp/*/run/tools
	/tmp/oio/bin

[run]
dynamic_context = test_function
parallel = True
