[submodule "vendor/gridinit"]
	path = vendor/gridinit
	url = https://github.com/open-io/gridinit.git
[submodule "vendor/asn1c"]
	path = vendor/asn1c
	url = https://github.com/vlm/asn1c.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
