[MASTER]


[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time.
disable=broad-except


[BASIC]

include-naming-hint=yes


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=88

