sudo: required
dist: bionic
language: python
python:
    - "2.7"
addons:
  apt:
    sources:
    - sourceline: 'deb http://mirror2.openio.io/pub/repo/openio/sds/18.04/ubuntu/ bionic/'
      key_url: 'http://mirror2.openio.io/pub/repo/openio/APT-GPG-KEY-OPENIO-0'
# Please keep the following list sorted!
    packages:
    - apache2
    - apache2-dev
    - attr
    - beanstalkd
    - bison
    - curl
    - flex
    - gdb
    - lcov
    - libapache2-mod-wsgi
    - libapreq2-dev
    - libattr1-dev
    - libcurl4-gnutls-dev
    - liberasurecode-dev
    - libglib2.0-dev
    - libjson-c-dev
    - libleveldb-dev
    - liblzo2-dev
    - libsqlite3-dev
    - libzmq3-dev
    - libzookeeper-mt-dev
    - openio-asn1c
    - openio-gridinit
    - python-all-dev
    - python-dev
    - python-pbr
    - python-setuptools
    - python-virtualenv
    - redis-server
    - redis-tools
    - sqlite3
    - zookeeper
    - zookeeper-bin
    - zookeeperd
services:
  - zookeeper
install:
  - gimme stable
  - source ~/.gimme/envs/latest.env
  - virtualenv $HOME/oio && source $HOME/oio/bin/activate
  - pip install --upgrade pip setuptools virtualenv tox
  - pip install --upgrade -r all-requirements.txt -r test-requirements.txt
  - pip install --upgrade zkpython
  - sudo bash -c "echo '/tmp/core.%p.%E' > /proc/sys/kernel/core_pattern"
  - mkdir /tmp/oio
  - git fetch --tags
  - git submodule update --init --recursive

env:
  global:
  - CMAKE_OPTS="-DENABLE_CODECOVERAGE=on -DCMAKE_INSTALL_PREFIX=/tmp/oio -DLD_LIBDIR=lib -DZK_LIBDIR=/usr/lib -DZK_INCDIR=/usr/include/zookeeper -DAPACHE2_LIBDIR=/usr/lib/apache2 -DAPACHE2_INCDIR=/usr/include/apache2 -DAPACHE2_MODDIR=/tmp/oio/lib/apache2/module"
  - G_DEBUG=fatal_warnings
  - G_DEBUG_LEVEL=W
  - ZK=127.0.0.1:2181
  - LD_LIBRARY_PATH=/tmp/oio/lib
  - PKG_CONFIG_PATH=/tmp/oio/lib/pkgconfig

jobs:
  fast_finish: true
  include:
    - stage: Fail Fast tests
      script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-failfast.sh
      name: Copyright, Release build, SDK build
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-unit.sh
      name: C unit/func, Python unit/pep8
    - stage: Functional tests (fast)
      script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=slave
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=cli
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=worm
    - stage: Functional tests
      script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=rebuilder,with-service-id
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=single,webhook
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=repli,go-rawx
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=ec
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=3copies
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=small-cache,fsync
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=3copies,with-service-id
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=ec,with-random-service-id
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=multi-beanstalk
    - script:
        - source ~/.gimme/envs/latest.env
        - ./tools/oio-travis-suites.sh
      env: TEST_SUITE=mover,with-service-id

after_success:
  - bash <(curl -s https://codecov.io/bash) -f /tmp/cmake_coverage.output
  - codecov
  - if cat ${HOME}/go_coverage.output.* > go_coverage.output; then rm ${HOME}/go_coverage.output.*; else echo "" > go_coverage.output; fi
  - bash <(curl -s https://codecov.io/bash) -f go_coverage.output
