sudo: required
dist: trusty
language: c
install:
  - sudo apt-add-repository "deb http://archive.ubuntu.com/ubuntu trusty-backports main restricted universe multiverse"
  - sudo apt-add-repository "deb http://mirror.openio.io/pub/repo/mini-dinstall/ trusty/"
  - sudo apt-get update -qq
  - sudo apt-get install -y --force-yes libglib2.0-dev libzookeeper-mt-dev libzmq3-dev libcurl4-gnutls-dev libapreq2-dev libsqlite3-dev libattr1-dev libevent-dev apache2 apache2-dev liblzo2-dev openio-gridinit openio-asn1c openio-sds-librain-dev libjson-c-dev flex bison curl libleveldb1 libleveldb-dev libattr1-dev python-all-dev python-virtualenv
  - virtualenv oio && source oio/bin/activate
  - pip install --upgrade pip setuptools virtualenv
  - (cd python && pip install -r requirements.txt)
script:
  - set -e
  - echo "Build + Install" && echo -en 'travis_fold:start:make\\r'
  - mkdir /tmp/oio
  - cmake -DCMAKE_INSTALL_PREFIX="/tmp/oio" -DLD_LIBDIR="lib" -DCMAKE_BUILD_TYPE="Debug" -DZK_LIBDIR="/usr/lib" -DZK_INCDIR="/usr/include/zookeeper" -DLIBRAIN_LIBDIR="/usr/lib" -DLIBRAIN_INCDIR="/usr/include" -DAPACHE2_LIBDIR="/usr/lib/apache2" -DAPACHE2_INCDIR="/usr/include/apache2" -DAPACHE2_MODDIR=/tmp/oio/lib/apache2/module .
  - make -j 8 all install
  - ( cd python && python setup.py install )
  - export G_DEBUG_LEVEL=D PATH="$PATH:/tmp/oio/bin" LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/tmp/oio/lib"
  - echo -en 'travis_fold:end:make\\r'
  - echo "Running UNIT tests" && echo -en 'travis_fold:start:test.unit\\r'
  - make -C tests/unit test
  - echo -en 'travis_fold:end:test.unit\\r'
  - echo "Running FUNC tests (SINGLE)" && echo -en 'travis_fold:start:test.func.0\\r'
  - export OIO_NS="NS-${RANDOM}" OIO_ACCOUNT="ACCT-$RANDOM" OIO_USER=USER-$RANDOM OIO_PATH=PATH-$RANDOM
  - /tmp/oio/bin/oio-reset.sh -v -v -S SINGLE -N $OIO_NS -C 65536 -B 1 -D 1 -R 1 -X "zookeeper"
  - make -C tests/func test
  - ./core/tool_roundtrip /etc/passwd
  - echo -en 'travis_fold:end:test.func.0\\r'
  - echo "Running FUNC tests (THREECOPIES)" && echo -en 'travis_fold:start:test.func.1\\r'
  - export OIO_NS="NS-${RANDOM}" OIO_ACCOUNT="ACCT-$RANDOM" OIO_USER=USER-$RANDOM OIO_PATH=PATH-$RANDOM
  - /tmp/oio/bin/oio-reset.sh -v -v -S THREECOPIES -N $OIO_NS -C 1000 -B 1 -D 1 -R 1 -E 5 -X "zookeeper"
  - make -C tests/func test
  - ./core/tool_roundtrip /etc/passwd
  - echo -en 'travis_fold:end:test.func.1\\r'
