sudo: required
dist: trusty
language: c
install:
  - sudo apt-add-repository "deb http://archive.ubuntu.com/ubuntu trusty-backports main restricted universe multiverse"
  - sudo apt-add-repository "deb http://mirror.openio.io/pub/repo/openio/sds/15.12/ trusty/"
  - sudo apt-get update -qq
  - sudo apt-get install -y --force-yes lcov libglib2.0-dev libzookeeper-mt-dev libzmq3-dev libcurl4-gnutls-dev libapreq2-dev libsqlite3-dev libattr1-dev libevent-dev apache2 apache2-dev libapache2-mod-wsgi liblzo2-dev openio-gridinit openio-asn1c libjson-c-dev flex bison curl libleveldb1 libleveldb-dev libattr1-dev python-all-dev python-virtualenv beanstalkd liberasurecode-dev
  - sudo apt-get install -y --force-yes zookeeper zookeeper-bin zookeeperd
  - virtualenv $HOME/oio && source $HOME/oio/bin/activate
  - pip install --upgrade pip setuptools virtualenv tox
  - pip install --upgrade -r all-requirements.txt
  - pip install --upgrade -r test-requirements.txt
  - pip install --upgrade zkpython
env:
  - TEST_SUITE=build,unit,small-cache
  - TEST_SUITE=copyright,worm,slave,cli
  - TEST_SUITE=3copies
  - TEST_SUITE=repli
  - TEST_SUITE=ec
script:
  - set -e
  - mkdir /tmp/oio && source $HOME/oio/bin/activate
  - export CMAKE_OPTS='-DCMAKE_INSTALL_PREFIX=/tmp/oio -DLD_LIBDIR=lib -DZK_LIBDIR=/usr/lib -DZK_INCDIR=/usr/include/zookeeper -DAPACHE2_LIBDIR=/usr/lib/apache2 -DAPACHE2_INCDIR=/usr/include/apache2 -DAPACHE2_MODDIR=/tmp/oio/lib/apache2/module'
  - if [ "build" == "${TEST_SUITE/*build*/build}" ] ; then cmake ${CMAKE_OPTS} -DCMAKE_BUILD_TYPE="Release" . && make all && make clean ; fi
  - export PYTHON_COVERAGE=1 CMAKE_OPTS="${CMAKE_OPTS} -DENABLE_CODECOVERAGE=on"
  - cmake ${CMAKE_OPTS} -DCMAKE_BUILD_TYPE="Debug" . && make all install
  - python setup.py install
  - export G_DEBUG_LEVEL=D PATH="$PATH:/tmp/oio/bin" LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/tmp/oio/lib"
  - make coverage_init
  - pwd && env && ./tools/oio-travis-tests.sh
  - make coverage
  - bash ./tools/oio-check-version.sh
after_success:
  - bash <(curl -s https://codecov.io/bash) -f cmake_coverage.output
  - codecov
