blake3
cliff>=3.0.0
eventlet>=0.25.0,<0.30.3  # From 0.30.3, compatibility problem with gunicorn
gunicorn>=20.0.0
kazoo>=2.7.0
lxml>=4.0.0
PyECLib>=1.2.0
pyparsing>=2.4.2
pyxattr>=0.6.0
PyYAML>=5.0.0
redis>=3.0.0
requests>=2.14.2
simplejson>=3.0.0
six>=1.11.0
urllib3>=1.26.0
werkzeug>=1.0.0
xattr>=0.9
