blake3
cliff>=3.0.0
eventlet>=0.25.0
foundationdb>=6.3.15,<6.4.0
gevent>=1.4
gunicorn>=20.0.0
jsonschema>=4.17.3
kazoo>=2.7.0
lxml>=4.0.0
pika>=1.2.0
PyECLib>=1.2.0
pyparsing>=2.4.2
PyYAML>=5.0.0
redis>=3.0.0
reflink>=0.2.1
requests>=2.14.2
simplejson>=3.0.0
six>=1.11.0
urllib3>=1.26.0
werkzeug>=2.0.0
