[lifecycle-crawler]
namespace = OPENIO
user = openio
# Comma separated list of volumes to watch
volume_list = /var/lib/oio/sds/vol1/NS/meta2-1/,/var/lib/oio/sds/vol1/NS/meta2-2/

# Wait random time before starting
# to avoid all the crawlers from working at the same time.
wait_random_time_before_starting = True
# In seconds, the interval between two full scans. Defaults to half an hour.
interval = 1800
# In seconds, the interval between two logs entries (for each volume)
# Defaults to 300 seconds.
report_interval = 300
# Maximum containers to be scanned per second. Defaults to 10.
scanned_per_second = 10

# Local directory to process, this directory contains symbolic links
# to containers snapshots
working_directory = local_lifecycle

# Common log stuff
log_level = INFO
log_facility = LOG_LOCAL0
log_address = /dev/log
syslog_prefix = OIO,OPENIO,lifecycle-crawler,1

[pipeline:main]
pipeline = logger lifecycle

[filter:lifecycle]
# Launch lifecycle actions per container
use = egg:oio#lifecycle
# Max number of events to generate per batch
lifecycle_batch_size = 5000

[filter:logger]
use = egg:oio#logger
