[meta2-crawler]
namespace = OPENIO
user = openio
# Comma separated list of volumes to watch
volume_list = /var/lib/oio/sds/vol1/NS/meta2-1/,/var/lib/oio/sds/vol1/NS/meta2-2/

# Wait random time before starting
# to avoid all the crawlers from working at the same time.
wait_random_time_before_starting = False
# In seconds, the interval between two full scans. Defaults to half an hour.
interval = 1200
# In seconds, the interval between two logs entries (for each volume)
# Defaults to 300 seconds.
report_interval = 300
# Maximum containers to be scanned per second. Defaults to 10.
scanned_per_second = 10

# Common log stuff
log_level = INFO
log_facility = LOG_LOCAL0
log_address = /dev/log
syslog_prefix = OIO,OPENIO,meta2-crawler,1

[pipeline:main]
pipeline = logger auto_sharding

[filter:auto_sharding]
use = egg:oio#auto_sharding
# Size of the meta2 database from which sharding can be triggered.
sharding_db_size = 1073741824
sharding_strategy = shard-with-partition
sharding_shard_size = 100000
# Minimum number of objects to trigger sharding.
# Notice that this number is a safeguard against concurrent sharding requests.
# Only the database size is checked by the crawler,
# this threshold is a parameter for the sharding strategy
# and won't be checked by the crawler.
sharding_threshold = 100000
sharding_partition = 50,50

[filter:logger]
use = egg:oio#logger
