[meta2-checker]
namespace = OPENIO
user = openio
# Comma separated list of volumes to watch
volume_list = /var/lib/oio/sds/vol1/NS/meta2-1/,/var/lib/oio/sds/vol1/NS/meta2-2/
# In seconds, the interval between two full scans. Defaults to half an hour.
interval = 30
# In seconds, the interval between two logs entries (for each volume)
# Defaults to 300 seconds.
report_interval = 100

# Common log stuff
log_level = INFO
log_facility = LOG_LOCAL0
log_address = /dev/log
syslog_prefix = OIO,OPENIO,meta2-checker,1

handlers_conf = /etc/oio/sds/OPENIO/sanity-modules-1.conf