# For httpd 2.4
LoadModule mpm_worker_module modules/mod_mpm_worker.so
LoadModule unixd_module      modules/mod_unixd.so

LoadModule dav_module        modules/mod_dav.so
LoadModule dav_rawx_module   modules/mod_dav_rawx.so
#LoadModule log_config_module /usr/local/oss/apache2-2.2.9/modules/mod_log_config.so

Listen 127.0.0.1:9000
ServerRoot /GRID/@NS@/@STGDEV@/conf/rawx-@NB@
ServerName 127.0.0.1
ServerSignature Off
ServerTokens Prod
# Not used here
DocumentRoot /var/tmp
TypesConfig /usr/local/oss/apache2-2.2.9/conf/mime.types

KeepAlive off
KeepAliveTimeout 0

User  smig
Group server

ErrorLog /GRID/@NS@/logs/rawx-@NB@-errors.log
LogFormat "%h %l %u %t \"%r\" %>s %b" common
CustomLog /GRID/@NS@/logs/rawx-@NB@-access.log common
LogLevel debug

DavDepthInfinity Off

# Mandatory values
grid_service_id ksjlqksjxlqksjxqslkxj
grid_hash_width 3
grid_hash_depth 1
grid_docroot /path/to/the/volume
grid_namespace YOUR_NS_HERE
grid_dir_run /path/to/the/directory/with/shared/memory
grid_fsync false
grid_fsync_dir false
grid_fallocate false
grid_checksum true
grid_buffer_size 8192
# grid_acl false
# grid_compression false

<IfModule mod_env.c> 
SetEnv nokeepalive 1
SetEnv downgrade-1.0 1
SetEnv force-response-1.0 1
</IfModule>

<IfModule prefork.c>
  MaxClients       150
  StartServers       5
  MinSpareServers    5
  MaxSpareServers   10
</IfModule>

<IfModule worker.c>
  StartServers         1
  MaxClients           5
  MinSpareThreads      2
  MaxSpareThreads      5
  ThreadsPerChild      5
  MaxRequestsPerChild  0
</IfModule>

<Directory />
  DAV rawx
  AllowOverride None
</Directory>

